//- tasks.html.pug
//- Task page content

extends template.html.pug

mixin entryRow(id, title, note, completeBy, colorPreset, archived, removed)
  a.entry-row--wrapper(href='/journal/' + id)
    .entry-row--header
      .entry-row--circle(style='background:' + colorPresets[colorPreset])
      h2.entry-row--title=title

      .entry-row--edit
        .remove-btn
        .archive-btn

      p.entry-row--date=formatDate(completeBy)

    -
      var preview = note.substring(0, 200).trim();
      if (note.length >= 200)
        preview += '...';

    p.entry-row--content=preview

  .entry-row--divider

block primary-content
  //- Format date data
  - 
    function formatDate(date) {
          var options = {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit'};
          return new Date(date).toLocaleDateString('en-US', options);
    }

  h1 My Tasks

  .sort-panel--container
    p Sort by:
    .sort-btn
      .sort-btn--circle
      p Name
    .sort-btn
      .sort-btn--circle
      p Date
    .sort-btn
      .sort-btn--circle
      p Archived
    .sort-btn
      .sort-btn--circle
      p Removed

  .task-entries--container
    each entry in entries
      +entryRow(
        entry.id,
        entry.title,
        entry.note,
        entry.completeBy,
        entry.colorPreset,
        entry.archived,
        entry.removed)

  // Debug!

  mixin entryRowDebug(id, title, content, note, completeBy, archived, removed)
    tr
      td= id
      td= title
      td= note
      td= completeBy
      td= colorPreset
      td= archived
      td= removed
      td.exclude
        a.debug-button--green(href='/tasks/' + id)
            .circle--attach
            p Open
        .debug-panel(data-id=id)
          .debug-button--red(data-action='remove')
            .circle--attach
            p Remove
          .debug-button--green(data-action='restore')
            .circle--attach
            p Restore
          .debug-button--grey(data-action='archive')
            .circle--attach
            p Archive
          .debug-button--green(data-action='unarchive')
            .circle--attach
            p Unarchive

  table.entries
    tr
      th Id
      th Title
      th Note
      th CompleteBy
      th Color Preset
      th Archived
      th Removed
      td Debug Panel

    each entry in entries
      +entryRowDebug(entry.id,
                  entry.title,
                  entry.note,
                  entry.completeBy,
                  entry.colorPreset,
                  entry.archived,
                  entry.removed)

